# **–û—á–∏—Å—Ç–∫–∞  –∏ –æ–±—Ä–∞–±–æ—Ç–∫–∞ –¥–∞–Ω–Ω—ã—Ö**

In [51]:
import pandas as pd

–ó–∞–≥—Ä—É–∑–∏–º –¥–∞—Ç–∞—Å–µ—Ç, –∫–æ—Ç–æ—Ä—ã–π –º—ã –ø–æ–ª—É—á–∏–ª–∏ –ø–æ—Å–ª–µ –ø–∞—Ä—Å–∏–Ω–≥–∞ –¥–∞–Ω–Ω—ã—Ö —Å–æ —Å—Ç–µ–Ω—ã —Å–æ–æ–±—â–µ—Å—Ç–≤–∞.

In [52]:
df = pd.read_csv('project_dataset.csv')
df.head()

,Unnamed: 0,date,likes,reposts,views,comments,attachments,text
0,31701,1681698600,786,401,112018,18,9,üñ§ –ò–∑–∞–±–µ–ª—å –ê–¥–∂–∞–Ω–∏ –≤ —Ñ–∏–ª—å–º–µ ¬´–°–º–µ—Ä—Ç–µ–ª—å–Ω–∞—è –ø–æ–µ–∑–¥–∫–∞...
1,51009,1714739400,46,30,5841,3,9,"¬´–ß–µ—Ä–Ω–æ–∫–Ω–∏–∂–Ω–∏–∫: –ê—Ä–º–∞–≥–µ–¥–¥–æ–Ω¬ª, 1993 –≥–æ–¥. \n–†–µ–∂–∏—Å—Å..."
2,50998,1714725000,274,561,31437,3,9,"¬´–ì—É–±–Ω–∞—è –ø–æ–º–∞–¥–∞¬ª, 1976 –≥–æ–¥. \n–†–µ–∂–∏—Å—Å–µ—Ä: –õ–∞–º–æ–Ω—Ç ..."
3,50989,1714714200,114,51,13382,1,9,–í –≥–ª–∞–≤–Ω–æ–π —Ä–æ–ª–∏ ‚Äî –†–æ–º–∏ –®–Ω–∞–π–¥–µ—Ä üìΩ
4,50983,1714703400,154,23,13978,1,6,üñ§ –ú–∞—Ä–≥–∞—Ä–µ—Ç –ö—É–æ–ª–ª–∏ –≤ –æ–±—ä–µ–∫—Ç–∏–≤–µ –¢–æ–º–∞ –®—É–º–∞—Ö–µ—Ä–∞ üñ§

–û–ø–∏—à–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ –ø–æ —Å—Ç–æ–ª–±—Ü–∞–º:

*   `unnamed: 0` - id –ø–æ—Å—Ç–∞
*   `date` - –¥–∞—Ç–∞ –ø–æ—Å—Ç–∞
*   `likes` - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ª–∞–π–∫–æ–≤
*   `reposts` - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–µ–ø–æ—Å—Ç–æ–≤
*   `views` - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ—Å–º–æ—Ç—Ä–æ–≤
*   `comments` - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤
*   `attachments` - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –≤–ª–æ–∂–µ–Ω–∏–π
*   `text` - —Ç–µ–∫—Å—Ç –ø–æ—Å—Ç–∞


–î–∞–ª—å—à–µ –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Å—Ç–æ–ª–±–µ—Ü text –≤ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Ä–∞–∑–Ω—ã—Ö. –ü–æ—Å—Ç—ã –≤ –ø–∞–±–ª–∏–∫–µ –¥–µ–ª—è—Ç—Å—è –Ω–∞ –¥–≤–∞ —Ç–∏–ø–∞: —Ç–µ, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ —Ñ–∏–ª—å–º–µ –∏ —Ä–µ–∂–∏—Å—Å–µ—Ä–µ, –∞ —Ç–∞–∫–∂–µ —Ç–µ, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å –ø—Ä–æ—Å—Ç–æ —Ñ–æ—Ç–æ–≥—Ä–∞—Ñ–∏–∏ –∞–∫—Ç–µ—Ä–æ–≤. –ü–µ—Ä–≤—ã–π —Ç–∏–ø –º–æ–∂–Ω–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –æ–±—Ä–∞–±–æ—Ç–∞—Ç—å, –≤—ã—á–ª–µ–Ω–∏–≤ –Ω–∞–∑–≤–∞–Ω–∏–µ —Ñ–∏–ª—å–º–∞, –∏–º—è —Ä–µ–∂–∏—Å—Å–µ—Ä–∞ –∏ –≥–æ–¥ –ø—Ä–æ–∏–∑–≤–æ–¥—Å—Ç–≤–∞ —Ñ–∏–ª—å–º–∞ –±–ª–∞–≥–æ–¥–∞—Ä—è –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ —Å—Ç—Ä–æ–≥–æ–º—É naming convention —É –∞–≤—Ç–æ—Ä–æ–≤ –ø–∞–±–ª–∏–∫–∞. –° –ø–æ–º–æ—â—å—é —Ä–µ–≥—É–ª—è—Ä–Ω—ã—Ö –≤—ã—Ä–∞–∂–µ–Ω–∏–π –≤—ã–¥–µ–ª–∏–º –æ—Ç–¥–µ–ª—å–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º —Ñ–∏–ª—å–º–æ–≤, –∏–º–µ–Ω–∞–º–∏ —Ä–µ–∂–∏—Å—Å–µ—Ä–æ–≤ –∏ –≥–æ–¥–∞–º–∏ –ø—Ä–æ–∏–∑–≤–æ–¥—Å—Ç–≤–∞.
–ò–Ω–æ–≥–¥–∞ –ø–æ—Å–ª–µ —ç—Ç–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –µ—â–µ –µ—Å—Ç—å –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ–µ –æ–ø–∏—Å–∞–Ω–∏–µ —Å—é–∂–µ—Ç–∞ —Ñ–∏–ª—å–º–∞, –∫–æ—Ç–æ—Ä—ã–π –º—ã –≤—ã–Ω–µ—Å–ª–∏ –≤ —Å—Ç–æ–ª–±–µ—Ü additional info —Ç–∞–∫–∂–µ –¥–ª—è –ø–æ—Å—Ç–æ–≤, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç —Å—Ç—Ä–æ–≥–æ–π –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ —Ñ–∏–ª—å–º–∞—Ö –∏ —Ä–µ–∂–∏—Å—Å–µ—Ä–∞—Ö.

In [53]:
df['movie'] = df['text'].str.extract(r'^¬´(.+?)¬ª')
df['director'] = df['text'].str.extract(r'–†–µ–∂–∏—Å—Å[—ë–µ]—Ä(?:—ã)?: (.+?)(?:\.|$)')
df['director'] = df['director'].str.replace(r',', '|').str.split('|').apply(lambda x: ', '.join([i.strip() for i in x]) if isinstance(x, list) else x)
df['year'] = df['text'].str.extract(r'(\d{4})')

In [54]:
df['additional_info'] = df['text'].str.replace(r'^¬´(.+?)¬ª|–†–µ–∂–∏—Å—Å[—ë–µ]—Ä(?:—ã)?: (.+?)\.|\d{4}|–≥–æ–¥', '', regex=True).str.strip()
df['additional_info'] = df['additional_info'].str.replace(r'^\s*,\s*', '', regex=True)
df['additional_info'] = df['additional_info'].str.replace(r'\n', '', regex=True)
df['additional_info'] = df['additional_info'].str.replace(r'^\.', '', regex=True)

–ù–∞ –≤—Å—è–∫–∏–π —Å–ª—É—á–∞–π –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Ñ–æ—Ä–º–∞—Ç —Å—Ç–æ–ª–±—Ü–∞ —Å –¥–∞—Ç–∞–º–∏.

In [55]:
df['year'] = pd.to_numeric(df['year'], errors='coerce').fillna(0).astype(int)
df.head()

,Unnamed: 0,date,likes,reposts,views,comments,attachments,text,movie,director,year,additional_info
0,31701,1681698600,786,401,112018,18,9,üñ§ –ò–∑–∞–±–µ–ª—å –ê–¥–∂–∞–Ω–∏ –≤ —Ñ–∏–ª—å–º–µ ¬´–°–º–µ—Ä—Ç–µ–ª—å–Ω–∞—è –ø–æ–µ–∑–¥–∫–∞...,NaN,NaN,1983,üñ§ –ò–∑–∞–±–µ–ª—å –ê–¥–∂–∞–Ω–∏ –≤ —Ñ–∏–ª—å–º–µ ¬´–°–º–µ—Ä—Ç–µ–ª—å–Ω–∞—è –ø–æ–µ–∑–¥–∫–∞...
1,51009,1714739400,46,30,5841,3,9,"¬´–ß–µ—Ä–Ω–æ–∫–Ω–∏–∂–Ω–∏–∫: –ê—Ä–º–∞–≥–µ–¥–¥–æ–Ω¬ª, 1993 –≥–æ–¥. \n–†–µ–∂–∏—Å—Å...",–ß–µ—Ä–Ω–æ–∫–Ω–∏–∂–Ω–∏–∫: –ê—Ä–º–∞–≥–µ–¥–¥–æ–Ω,–≠–Ω—Ç–æ–Ω–∏ –•–∏–∫–æ–∫—Å,1993,
2,50998,1714725000,274,561,31437,3,9,"¬´–ì—É–±–Ω–∞—è –ø–æ–º–∞–¥–∞¬ª, 1976 –≥–æ–¥. \n–†–µ–∂–∏—Å—Å–µ—Ä: –õ–∞–º–æ–Ω—Ç ...",–ì—É–±–Ω–∞—è –ø–æ–º–∞–¥–∞,–õ–∞–º–æ–Ω—Ç –î–∂–æ–Ω—Å–æ–Ω,1976,"–ú–∞—Ä–≥–æ –•–µ–º–∏–Ω–≥—É—ç–π –∏–≥—Ä–∞–µ—Ç –º–æ–¥–µ–ª—å –ö—Ä–∏—Å, –∫–æ—Ç–æ—Ä–∞—è —É..."
3,50989,1714714200,114,51,13382,1,9,–í –≥–ª–∞–≤–Ω–æ–π —Ä–æ–ª–∏ ‚Äî –†–æ–º–∏ –®–Ω–∞–π–¥–µ—Ä üìΩ,NaN,NaN,0,–í –≥–ª–∞–≤–Ω–æ–π —Ä–æ–ª–∏ ‚Äî –†–æ–º–∏ –®–Ω–∞–π–¥–µ—Ä üìΩ
4,50983,1714703400,154,23,13978,1,6,üñ§ –ú–∞—Ä–≥–∞—Ä–µ—Ç –ö—É–æ–ª–ª–∏ –≤ –æ–±—ä–µ–∫—Ç–∏–≤–µ –¢–æ–º–∞ –®—É–º–∞—Ö–µ—Ä–∞ üñ§,NaN,NaN,0,üñ§ –ú–∞—Ä–≥–∞—Ä–µ—Ç –ö—É–æ–ª–ª–∏ –≤ –æ–±—ä–µ–∫—Ç–∏–≤–µ –¢–æ–º–∞ –®—É–º–∞—Ö–µ—Ä–∞ üñ§

–ú—ã —Ç–∞–∫–∂–µ —Å–æ–±—Ä–∞–ª–∏ –¥–∞—Ç–∞—Å–µ—Ç –ø–æ —Ç—Ä–µ–º —Å–∞–º—ã–º –ø—Ä–µ—Å—Ç–∏–∂–Ω—ã–º –ø—Ä–µ–º–∏—è–º: O—Å–∫–∞—Ä—É, –ó–æ–ª–æ—Ç–æ–π –ø–∞–ª—å–º–æ–≤–æ–π –≤–µ—Ç–≤–∏ –∏ –ó–æ–ª–æ—Ç–æ–º—É –≥–ª–æ–±—É—Å—É. –ü–æ O—Å–∫–∞—Ä—É –±—ã–ª–∏ –¥–æ—Å—Ç—É–ø–Ω—ã –¥–∞–Ω–Ω—ã–µ –Ω–∞ —Ä—É—Å—Å–∫–æ–º, –≤ —Ç–æ–º —á–∏—Å–ª–µ –ø–æ –Ω–æ–º–∏–Ω–∞–Ω—Ç–∞–º, –∞ –ø–æ –ó–æ–ª–æ—Ç–æ–π –ø–∞–ª—å–º–æ–≤–æ–π –≤–µ—Ç–≤–∏ –∏ –ó–æ–ª–æ—Ç–æ–º—É –≥–ª–æ–±—É—Å—É - —Ç–æ–ª—å–∫–æ –ø–æ –ª–∞—É—Ä–µ–∞—Ç–∞–º, —Ç–∞–∫ —á—Ç–æ –º—ã –≤–Ω–µ—Å–µ–º –¥–∞–Ω–Ω—ã–µ –ø–æ –Ω–æ–º–∏–Ω–∞–Ω—Ç–∞–º –∏ –ª–∞—É—Ä–µ–∞—Ç–∞–º –û—Å–∫–∞—Ä–∞, –ª–∞—É—Ä–µ–∞—Ç–∞–º –ó–æ–ª–æ—Ç–æ–π –ø–∞–ª—å–º–æ–≤–æ–π –≤–µ—Ç–≤–∏ –∏ –ó–æ–ª–æ—Ç–æ–≥–æ –≥–ª–æ–±—É—Å–∞.

–ù–∞—á–Ω–µ–º —Å –¥–∞–Ω–Ω—ã—Ö –ø–æ –û—Å–∫–∞—Ä—É.

In [56]:
oscar = pd.read_excel('oscar.xlsx')
oscar.head()

,–ì–æ–¥/–¶–µ—Ä–µ–º–æ–Ω–∏—è,–§–∏–ª—å–º,–ö–∏–Ω–æ–∫–æ–º–ø–∞–Ω–∏—è(–∏),–ü—Ä–æ–¥—é—Å–µ—Ä(—ã),–ü–æ–±–µ–¥–∏—Ç–µ–ª—å
0,1929,¬´–ö—Ä—ã–ª—å—è¬ª,Paramount Pictures,–õ—é—Å—å–µ–Ω –•–∞–±–±–∞—Ä–¥,1
1,1929,¬´–†—ç–∫–µ—Ç¬ª,Paramount Pictures,–ì–æ–≤–∞—Ä–¥ –•—å—é–∑,0
2,1929,¬´–°–µ–¥—å–º–æ–µ –Ω–µ–±–æ¬ª,Fox Film Corporation,–£–∏–ª—å—è–º –§–æ–∫—Å,0
3,1930,¬´–ë—Ä–æ–¥–≤–µ–π—Å–∫–∞—è –º–µ–ª–æ–¥–∏—è¬ª,Metro-Goldwyn-Mayer,"–ò—Ä–≤–∏–Ω–≥ –¢–∞–ª–±–µ—Ä–≥,¬†–õ–æ—É—Ä–µ–Ω—Å –£—ç–π–Ω–≥–∞—Ä—Ç–µ–Ω",1
4,1930,¬´–ê–ª–∏–±–∏¬ª,United Artists,–†–æ–ª–∞–Ω–¥ –£—ç—Å—Ç,0

–¢—É—Ç —Ñ–æ—Ä–º–∞—Ç –¥–∞–Ω–Ω—ã—Ö –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é —Ñ–∏–ª—å–º–∞ –Ω–µ —Å–æ–≤–ø–∞–¥–∞–ª —Å —Ç–µ–º, —á—Ç–æ –µ—Å—Ç—å —É –Ω–∞—Å –≤ —Ç–∞–±–ª–∏—Ü–µ, –ø–æ—ç—Ç–æ–º—É –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –Ω–∞–∑–≤–∞–Ω–∏—è –≤ —Ç–∞–±–ª–∏—Ü–µ oscar –∫ –Ω–∞—à–µ–º—É —Ñ–æ—Ä–º–∞—Ç—É.

In [57]:
oscar['–§–∏–ª—å–º'] = oscar['–§–∏–ª—å–º'].str.replace('¬´', '').str.replace('¬ª', '').str.strip()

–í—Å–µ —Ñ–∏–ª—å–º—ã –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ - –Ω–æ–º–∏–Ω–∞–Ω—Ç—ã. –ü–æ—ç—Ç–æ–º—É —Å–¥–µ–ª–∞–µ–º –µ—â–µ –æ–¥–∏–Ω —Å—Ç–æ–ª–±–µ—Ü-—Ñ–ª–∞–≥ —Ç–æ–≥–æ, —á—Ç–æ —Ñ–∏–ª—å–º-–Ω–æ–º–∏–Ω–∞–Ω—Ç.

In [58]:
oscar['oscar_nominee'] = 1

–¢—É—Ç –º—ã —É–±–∏—Ä–∞–µ–º –Ω–µ–Ω—É–∂–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã, –∫–æ—Ç–æ—Ä—ã–µ –±—É–¥—É—Ç –∑–∞—Ç–æ—Ä–º–∞–∂–∏–≤–∞—Ç—å –ø—Ä–æ—Ü–µ—Å—Å —Å–∫–ª–µ–π–∫–∏ —Ç–∞–±–ª–∏—Ü.

In [59]:
oscar = oscar.drop(['–ö–∏–Ω–æ–∫–æ–º–ø–∞–Ω–∏—è(–∏)', '–ü—Ä–æ–¥—é—Å–µ—Ä(—ã)', '–ì–æ–¥/–¶–µ—Ä–µ–º–æ–Ω–∏—è'], axis=1)

–î–∂–æ–π–Ω —Ç–∞–±–ª–∏—Ü —Å–ª–µ–≤–∞, –ø–æ—Ç–æ–º—É —á—Ç–æ –º—ã –Ω–µ —Ö–æ—Ç–∏–º –ø–æ—Ç–µ—Ä—è—Ç—å –¥–∞–Ω–Ω—ã–µ –ø–æ —Ñ–∏–ª—å–º–∞–º, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –±—ã–ª–∏ –Ω–æ–º–∏–Ω–∏—Ä–æ–≤–∞–Ω—ã.

In [60]:
df1 = pd.merge(df, oscar, left_on='movie', right_on='–§–∏–ª—å–º', how='left')
df1 = df1.rename(columns = {'–ü–æ–±–µ–¥–∏—Ç–µ–ª—å' : 'oscar_winner'})
df1.head()

,Unnamed: 0,date,likes,reposts,views,comments,attachments,text,movie,director,year,additional_info,–§–∏–ª—å–º,oscar_winner,oscar_nominee
0,31701,1681698600,786,401,112018,18,9,üñ§ –ò–∑–∞–±–µ–ª—å –ê–¥–∂–∞–Ω–∏ –≤ —Ñ–∏–ª—å–º–µ ¬´–°–º–µ—Ä—Ç–µ–ª—å–Ω–∞—è –ø–æ–µ–∑–¥–∫–∞...,NaN,NaN,1983,üñ§ –ò–∑–∞–±–µ–ª—å –ê–¥–∂–∞–Ω–∏ –≤ —Ñ–∏–ª—å–º–µ ¬´–°–º–µ—Ä—Ç–µ–ª—å–Ω–∞—è –ø–æ–µ–∑–¥–∫–∞...,NaN,NaN,NaN
1,51009,1714739400,46,30,5841,3,9,"¬´–ß–µ—Ä–Ω–æ–∫–Ω–∏–∂–Ω–∏–∫: –ê—Ä–º–∞–≥–µ–¥–¥–æ–Ω¬ª, 1993 –≥–æ–¥. \n–†–µ–∂–∏—Å—Å...",–ß–µ—Ä–Ω–æ–∫–Ω–∏–∂–Ω–∏–∫: –ê—Ä–º–∞–≥–µ–¥–¥–æ–Ω,–≠–Ω—Ç–æ–Ω–∏ –•–∏–∫–æ–∫—Å,1993,,NaN,NaN,NaN
2,50998,1714725000,274,561,31437,3,9,"¬´–ì—É–±–Ω–∞—è –ø–æ–º–∞–¥–∞¬ª, 1976 –≥–æ–¥. \n–†–µ–∂–∏—Å—Å–µ—Ä: –õ–∞–º–æ–Ω—Ç ...",–ì—É–±–Ω–∞—è –ø–æ–º–∞–¥–∞,–õ–∞–º–æ–Ω—Ç –î–∂–æ–Ω—Å–æ–Ω,1976,"–ú–∞—Ä–≥–æ –•–µ–º–∏–Ω–≥—É—ç–π –∏–≥—Ä–∞–µ—Ç –º–æ–¥–µ–ª—å –ö—Ä–∏—Å, –∫–æ—Ç–æ—Ä–∞—è —É...",NaN,NaN,NaN
3,50989,1714714200,114,51,13382,1,9,–í –≥–ª–∞–≤–Ω–æ–π —Ä–æ–ª–∏ ‚Äî –†–æ–º–∏ –®–Ω–∞–π–¥–µ—Ä üìΩ,NaN,NaN,0,–í –≥–ª–∞–≤–Ω–æ–π —Ä–æ–ª–∏ ‚Äî –†–æ–º–∏ –®–Ω–∞–π–¥–µ—Ä üìΩ,NaN,NaN,NaN
4,50983,1714703400,154,23,13978,1,6,üñ§ –ú–∞—Ä–≥–∞—Ä–µ—Ç –ö—É–æ–ª–ª–∏ –≤ –æ–±—ä–µ–∫—Ç–∏–≤–µ –¢–æ–º–∞ –®—É–º–∞—Ö–µ—Ä–∞ üñ§,NaN,NaN,0,üñ§ –ú–∞—Ä–≥–∞—Ä–µ—Ç –ö—É–æ–ª–ª–∏ –≤ –æ–±—ä–µ–∫—Ç–∏–≤–µ –¢–æ–º–∞ –®—É–º–∞—Ö–µ—Ä–∞ üñ§,NaN,NaN,NaN

–ú—ã –∑–∞–º–µ—Ç–∏–ª–∏, —á—Ç–æ —á–∞—Å—Ç–æ —Å—Ç—Ä–æ–∫–∏, —Å–æ–¥–µ—Ä–∂–∞—â–∏–µ –Ω–∞–∑–≤–∞–Ω–∏–µ —Ñ–∏–ª—å–º–∞, –∫–æ—Ç–æ—Ä—ã–π –±—ã–ª –Ω–æ–º–∏–Ω–∏—Ä–æ–≤–∞–Ω, –≤—Å–µ —Ä–∞–≤–Ω–æ –º–∞—Ä–∫–∏—Ä—É—é—Ç—Å—è –∫–∞–∫ –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏–µ –¥–∞–Ω–Ω—ã–µ –≤ —Å—Ç–æ–ª–±—Ü–∞—Ö –ø—Ä–æ –Ω–æ–º–∏–Ω–∞–Ω—Ç–æ–≤ –∏ –ø–æ–±–µ–¥–∏—Ç–µ–ª–µ–π –ø—Ä–µ–º–∏–∏. –ü–æ—ç—Ç–æ–º—É –º—ã –Ω–∞–ø–∏—Å–∞–ª–∏ —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è —ç—Ç–æ –±—É–¥–µ—Ç –ø–æ–ø—Ä–∞–≤–ª—è—Ç—å.

In [61]:
def update_oscar_nominee(row):
    if pd.notnull(row['movie']) and row['oscar_nominee'] != 1:
        return 0
    else:
        return row['oscar_nominee']

df1['oscar_nominee'] = df1.apply(update_oscar_nominee, axis=1)

–¢–æ –∂–µ —Å–∞–º–æ–µ –∫–∞—Å–∞–ª–æ—Å—å –∏ —Å—Ç–æ–ª–±—Ü–∞ –ø–æ–±–µ–¥–∏—Ç–µ–ª–µ–π –ø—Ä–µ–º–∏–∏.

In [62]:
def update_oscar_winner(row):
    if row['oscar_nominee'] == 0:
        return 0
    elif pd.isna(row['oscar_winner']):
        return 0
    else:
        return row['oscar_winner']

df1['oscar_winner'] = df1.apply(update_oscar_winner, axis = 1)

–¢–µ–ø–µ—Ä—å –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä—É–µ–º –ª–∞—É—Ä–µ–∞—Ç–æ–≤ –ø—Ä–µ–º–∏–∏ **–ó–æ–ª–æ—Ç–∞—è –ø–∞–ª—å–º–æ–≤–∞—è –≤–µ—Ç–≤—å**.

In [63]:
palme = pd.read_excel('palme.xlsx')
palme.head()

    –ì–æ–¥     –ù–∞–∑–≤–∞–Ω–∏–µ —Ñ–∏–ª—å–º–∞                         –†–µ–∂–∏—Å—Å–µ—Ä
0  1939      –Æ–Ω–∏–æ–Ω –ü–∞—Å–∏—Ñ–∏–∫¬†                 –°–µ—Å–∏–ª –ë–∏ –î–µ–º–∏–ª–ª—å
1  1946              –¢—Ä–∞–≤–ª—è                      –ê–ª—å—Ñ –®—ë–±–µ—Ä–≥
2  1946  –ü–æ—Ç–µ—Ä—è–Ω–Ω—ã–π —É–∏–∫–µ–Ω–¥¬†                    –ë–∏–ª–ª–∏ –£–∞–π–ª–¥–µ—Ä
3  1946        –ö—Ä–∞—Å–Ω—ã–µ –ª—É–≥–∞  –ë–æ–¥–∏–ª—å –ò–ø—Å–µ–Ω, –õ–∞—É –õ–∞—É—Ä–∏—Ç—Ü–µ–Ω –º–ª.
4  1946      –ì–æ—Ä–æ–¥ –≤ –¥–æ–ª–∏–Ω–µ                      –ß–µ—Ç–∞–Ω –ê–Ω–∞–Ω–¥

–°–Ω–æ–≤–∞ –¥–æ–±–∞–≤–∏–º —Ñ–ª–∞–≥ —Ç–æ–≥–æ, —á—Ç–æ —Ñ–∏–ª—å–º –≤ —Å—Ç—Ä–æ–∫–µ - –ª–∞—É—Ä–µ–∞—Ç.

In [64]:
palme['palme_winner'] = 1

–°–∫–ª–µ–∏–º —Å —É–∂–µ –∏–º–µ—é—â–∏–º—Å—è –¥–∞—Ç–∞—Å–µ—Ç–æ–º.

In [65]:
df2 = pd.merge(df1, palme, left_on='movie', right_on='–ù–∞–∑–≤–∞–Ω–∏–µ —Ñ–∏–ª—å–º–∞', how='left')

–û—Ç–±—Ä–æ—Å–∏–º –Ω–µ–Ω—É–∂–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã, –∫–æ—Ç–æ—Ä—ã–µ –¥—É–±–ª–∏—Ä—É—é—Ç –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é.

In [66]:
df2 = df2.drop(['–ì–æ–¥', '–ù–∞–∑–≤–∞–Ω–∏–µ —Ñ–∏–ª—å–º–∞', '–†–µ–∂–∏—Å—Å–µ—Ä'], axis = 1)

–ó–¥–µ—Å—å –≤–Ω–æ–≤—å –±—ã–ª–∞ –ø—Ä–æ–±–ª–µ–º–∞ —Å —Ç–µ–º, —á—Ç–æ –Ω–µ –≤—Å–µ —Ñ–∏–ª—å–º—ã –º–∞—Ä–∫–∏—Ä–æ–≤–∞–ª–∏—Å—å –≤–µ—Ä–Ω–æ, –ø–æ—ç—Ç–æ–º—É –º—ã –æ–ø—è—Ç—å –ø—Ä–∏–º–µ–Ω–∏–ª–∏ —Ñ—É–Ω–∫—Ü–∏—é –¥–ª—è –±–æ–ª–µ–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ–π –º–∞—Ä–∫–∏—Ä–æ–≤–∫–∏ –ø–æ–±–µ–¥–∏—Ç–µ–ª–µ–π –∏ —Ñ–∏–ª—å–º–æ–≤, –Ω–µ –ø–æ–ª—É—á–∏–≤—à–∏—Ö –Ω–∞–≥—Ä–∞–¥—É.

In [67]:
def update_palme_winner(row):
    if pd.notnull(row['movie']) and row['palme_winner'] != 1:
        return 0
    else:
        return row['palme_winner']

df2['palme_winner'] = df2.apply(update_palme_winner, axis=1)

–ü–µ—Ä–µ–∏–º–µ–Ω–æ–≤—ã–≤–∞–µ–º —Å—Ç–æ–ª–±–µ—Ü –¥–ª—è –±–æ–ª–µ–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ–≥–æ –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ –¥–∞—Ç–∞—Å–µ—Ç–µ.

In [68]:
df2 = df2.rename(columns = {'Unnamed: 0' : 'post_id'})

–¢–µ–ø–µ—Ä—å –¥–æ–±–∞–≤–∏–º –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –æ –ª–∞—É—Ä–µ–∞—Ç–∞—Ö –ø—Ä–µ–º–∏–∏ **–ó–æ–ª–æ—Ç–æ–π –≥–ª–æ–±—É—Å**.

In [69]:
golden_globe = pd.read_excel('golden_globe.xlsx')
golden_globe.head()

    –ì–æ–¥                      –§–∏–ª—å–º       –†–µ–∂–∏—Å—Å—ë—Ä         –ü—Ä–æ–¥—é—Å–µ—Ä  –ü–æ–±–µ–¥–∏—Ç–µ–ª—å
0  1944            –ü–µ—Å–Ω—è –ë–µ—Ä–Ω–∞–¥–µ—Ç—Ç     –ì–µ–Ω—Ä–∏ –ö–∏–Ω–≥  –£–∏–ª—å—è–º –ü–µ—Ä–ª–±–µ—Ä–≥           1
1  1945           –ò–¥—Ç–∏ —Å–≤–æ–∏–º –ø—É—Ç—ë–º    –õ–µ–æ –ú–∞–∫–∫—ç—Ä–∏      –õ–µ–æ –ú–∞–∫–∫—ç—Ä–∏           1
2  1946          –ü–æ—Ç–µ—Ä—è–Ω–Ω—ã–π —É–∏–∫—ç–Ω–¥  –ë–∏–ª–ª–∏ –£–∞–π–ª–¥–µ—Ä   –ß–∞—Ä–ª—å–∑ –ë—Ä—ç–∫–µ—Ç—Ç           1
3  1947    –õ—É—á—à–∏–µ –≥–æ–¥—ã –Ω–∞—à–µ–π –∂–∏–∑–Ω–∏  –£–∏–ª—å—è–º –£–∞–π–ª–µ—Ä   –°—ç–º—é—ç–ª –ì–æ–ª–¥–≤–∏–Ω           1
4  1948  –î–∂–µ–Ω—Ç–ª—å–º–µ–Ω—Å–∫–æ–µ —Å–æ–≥–ª–∞—à–µ–Ω–∏–µ     –≠–ª–∏–∞ –ö–∞–∑–∞–Ω     –î—ç—Ä—Ä–∏–ª –ó–∞–Ω—É–∫           1

–î–∂–æ–π–Ω–∏–º –¥–≤–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞ –ø–æ –Ω–∞–∑–≤–∞–Ω–∏—é —Ñ–∏–ª—å–º–∞ –∏ –ø–µ—Ä–µ–∏–º–µ–Ω–æ–≤—ã–≤–∞–µ–º —Å—Ç–æ–ª–±–µ—Ü –¥–ª—è —Å–æ–±–ª—é–¥–µ–Ω–∏—è naming convention.

In [70]:
df3 = pd.merge(df2, golden_globe, left_on='movie', right_on='–§–∏–ª—å–º', how='left')
df3 = df3.rename(columns = {'–ü–æ–±–µ–¥–∏—Ç–µ–ª—å' : 'globe_winner'})

golden_globe.columns

Index(['–ì–æ–¥', '–§–∏–ª—å–º', '–†–µ–∂–∏—Å—Å—ë—Ä', '–ü—Ä–æ–¥—é—Å–µ—Ä', '–ü–æ–±–µ–¥–∏—Ç–µ–ª—å'], dtype='object')

–û—Ç–±—Ä–∞—Å—ã–≤–∞–µ–º –Ω–µ–Ω—É–∂–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã, –∫–æ—Ç–æ—Ä—ã–µ —Å–æ–¥–µ—Ä–∂–∞—Ç –ª–∏—à–Ω—é—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é –∏–ª–∏ –¥—É–±–ª–∏—Ä—É—é—Ç –µ–µ.

In [71]:
df3 = df3.drop(['–ì–æ–¥', '–§–∏–ª—å–º_y','–ü—Ä–æ–¥—é—Å–µ—Ä', '–†–µ–∂–∏—Å—Å—ë—Ä', '–§–∏–ª—å–º_x'], axis = 1)

–ü–æ—Å–∫–æ–ª—å–∫—É –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –Ω–∞–º –ø—Ä–∏–≥–æ–¥–∏—Ç—Å—è –∑–Ω–∞–Ω–∏–µ –æ —Ç–æ–º, –∫–∞–∫–∏–µ —Å—Ç—Ä–æ–∫–∏ —Å–æ–¥–µ—Ä–∂–∞—Ç —Ñ–∏–ª—å–º—ã, —Ç–æ –º—ã –¥–æ–±–∞–≤–∏–º —Å—Ç–æ–ª–±–µ—Ü —Å —Ñ–ª–∞–≥–æ–º –Ω–∞–ª–∏—á–∏—è —Ñ–∏–ª—å–º–∞.

In [72]:
df3['movie_flg'] = pd.notnull(df3['movie'])

–ù–∞–º –≤–Ω–æ–≤—å –ø–æ—Ç—Ä–µ–±–æ–≤–∞–ª–æ—Å—å –∏–∑–±–∞–≤–∏—Ç—å—Å—è –æ—Ç –±–æ–ª—å—à–æ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—â–∏—Ö –¥–∞–Ω–Ω—ã—Ö –ø–æ—Å—Ä–µ–¥—Å—Ç–≤–æ–º –∑–∞–ø–æ–ª–Ω–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ –ø–æ–±–µ–¥–∏—Ç–µ–ª–µ–π —Å –ø–æ–º–æ—â—å—é —Ñ—É–Ω–∫—Ü–∏–∏.

In [73]:
def update_globe_winner(row):
    if pd.notnull(row['movie']) and row['globe_winner'] == 1:
        return 1
    elif pd.notnull(row['movie']) and row['globe_winner'] != 1:
        return 0
    else:
      return row['globe_winner']

df3['globe_winner'] = df3.apply(update_globe_winner, axis=1)

–°–æ—Ö—Ä–∞–Ω–∏–º –æ–±—Ä–∞–±–æ—Ç–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ.

In [74]:
df3.to_csv('processed_dataset.csv', index=False)